<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
  body
    include header/header.pug
    main
      section
        p 
          b Без Мастер Букета: 
          | «Где быстро достать букет?», «А вдруг ей не понравится?», «Цветы опять быстро завяли, они на один день», «А в дождь не доставляете, нет?». 
          b С Мастер Букетом: 
          | «Круто, как раз вовремя», «Куда подъехать, забрать? Что? Сами привезете?», «Свежие цветы? Сегодня привезли? Класс», «А ей точно понравится? Что, поможете подобрать? Круто, сейчас буду».
        p
          strong
            a(href="https://yandex.ru/maps/-/CKuJ4Yyd") Краснопресненская наб., 12, Москва
            br
            a(href="tel:79262449190") +7 926 244-91-90
            |, 
            a(href="tel:79859545784") +7 985 954-57-84
      include bouquets/bouquets.pug
      section.review#review
        h2 Всё, что связано с цветами: букеты, корзинки, декор
        p 
          | Делаем букеты, собираем корзинки с цветами, удивляем странными нестандартными букетами: в форме животных и съедобными, — 
          b украшаем банкетные залы и выставочные зоны: 
          | подбираем цвета и стиль, занимаемся декорацией и применяем знания во флористике, — упаковываем подарки. Закупаем каждый день партию цветов из 
          b Нидерландов 
          | и 
          b Краснодара.
        p 
          b Доставляем по Москве 
          | утром, днем и вечером, для одного человека или на 
          b корпоратив, 
          | в хорошую погоду и в дождь. Если хотите сами приехать, то поможем собрать собственный букет. Рядом с нами находится парк «Красная Пресня», где вы можете подождать, пока наши флористы собирают композицию.
        p 
          | Наши друзья — 
          b Дмитрий Нагиев, 
          b Алсу 
          | и 
          b Алла Пугачева 
          | — часто бывают в Центре Международной Торговли и заглядывают к нам. Они доверяют нашим флористам и их вкусу и возвращаются, когда им нужна помощь с цветами. Хотите подарить маме или любимой букет, как у жены Нагиева — звоните. Возможно, один из букетов, который вы видели на концертах знаменитостей, сделан нами.
        section.quotes
          <blockquote class="review">
            <p>“Первое свидание: долго выбирал букет, сомневался, но ваши флористки помогли — видно, что подобрали хороший букет, хоть я и не разбираюсь. Свидание, кстати прошло отлично и букет даме понравился. Теперь на всякие праздники буду у вас брать.”</p>
            <cite>— довольный клиент пишет в вацап</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Спасибо вам огромное. Заказал цветы для любимой, она на седьмом небе от счастья. Цветы свежие и очень красивые. Удачи вам и развития. Буду рекомендовать всем друзьям и знакомым.”</p>
            <cite>— комментарий в инстаграме</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Живу рядом, но никогда не заглядывал к вам. Думал, что будет дорого, хоть и много раз слышал рекомендации ваших букетов. Решил сделать исключение в праздничный день и на 14-ое заказал у вас букет. Неожиданно звонок от любимой: визги от счастья, благодарности. Не думал, что так быстро доставите. Круто.”</p>
            <cite>— клиент пишет в вацап</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Уже пять лет доволен.”</p>
            <cite>— клиент, покупая очередной букет</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Долго жил за границей. Переехал обратно в Москву. Встала проблема с флористами, потому что там уже нашел свою любимую цветочную лавку. Наткнулся на вас в Инстаграме. Уровень не ниже иностранцев. Решили мою цветочную проблему.”</p>
            <cite>— клиент в телеграме</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Работаю тут, в ЦМТ. Не думал, что у нас такие крутые цветочники несколькими этажами ниже. Столько лет вас не замечал, а теперь только через вас буду проходить к себе в офис. Цветы поднимают настроение.”</p>
            <cite>— коллега в ЦМТ</cite>
          </blockquote>
      section.socials#socials
        h2 Красота в инстаграме и шутки в твиттере
        p 
          a(href="https://www.instagram.com/masterbuket_flora/")
            b Инстаграм
          br
          | Выкладываем туда новые букеты, интересные задумки и эксперименты наших флористов. Иногда делимся советами и рассказываем про внутреннюю кухню.
        p
          a(href="https://twitter.com/masterbuketwtc")
            b Твиттер
          br
          | В тусовке брендов, которые шутят в твиттере и иногда (всегда) позволяют себе выйти за рамки. Меньше букетов и больше обсуждений, но бывают и цветы тоже.
        p
          a(href="https://vk.com/floraworkshop")
            b ВКонтакте
          |  и 
          a(href="https://www.facebook.com/masterbuketwtc")
            b Фейсбук
          br
          | Иногда статьи и лонгриды с лайфхаками и секретами нашей сферы.
        p
          a(href="https://t.me/s/masterbuket")
            b Телеграм
          br
          | Мгновенная связь, сообщения о чем-то срочном, о новинках и эксклюзивный контент. А еще стикеры.
    include footer/footer.pug
    script(src="main.js" defer)