<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
  body
    include header/header.pug
    main
      include bouquets/bouquets.pug
      section.us#us
        h2 Всё, что связано с цветами: букеты, корзинки, декор
        p 
          | Делаем 
          b любые букеты: 
          | обычные, в форме животных и съедобные, — собираем 
          b корзинки с цветами
          | , 
          b украшаем банкетные залы 
          | и выставочные зоны. 
          b Доставляем по Москве 
          | весь день в любую погоду. Каждый день закупаем партию цветов из 
          b Недерландов и Краснодара.
      section.contacts#contacts
        h2 На связи
        p
          a(href="https://yandex.ru/maps/-/CCUEE0T03C") Краснопресненская набережная 12, 9-й и 6-й подъезды
          br
          a(href="tel:79853532322") 8 985 353 23 22
          | , 
          a(href="https://wa.me/79853532322") ватсап
          br
          a(href="mailto:masterbuketask@gmail.com") masterbuketask@gmail.com
          br
          | пн…пт 9…20:00
          br
          | А еще ждем вашего сообщения каждый день
        a(href="https://yandex.ru/maps/-/CCUEE0T03C")
          picture
            source(srcset="/base/medium/map.webp 1200w, /base/small/map.webp 800w, /base/x-small/map.webp 400w", type="image/webp")
            img(src="/base/map.jpg", srcset="/base/medium/map.jpg 1200w, /base/small/map.jpg 800w, /base/x-small/map.jpg 400w", alt="Мастер Букет на карте", loading="lazy")
      section.review#review
        h2 Отзывы
        section.quotes
          <blockquote class="review">
            <p>“Первое свидание: долго выбирал букет, сомневался, но ваши флористки помогли — видно, что подобрали хороший букет, хоть я и не разбираюсь. Свидание, кстати прошло отлично и букет даме понравился. Теперь на всякие праздники буду у вас брать.”</p>
            <cite>— довольный клиент пишет в вацап</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Спасибо вам огромное. Заказал цветы для любимой, она на седьмом небе от счастья. Цветы свежие и очень красивые. Удачи вам и развития. Буду рекомендовать всем друзьям и знакомым.”</p>
            <cite>— комментарий в инстаграме</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Живу рядом, но никогда не заглядывал к вам. Думал, что будет дорого, хоть и много раз слышал рекомендации ваших букетов. Решил сделать исключение в праздничный день и на 14-ое заказал у вас букет. Неожиданно звонок от любимой: визги от счастья, благодарности. Не думал, что так быстро доставите. Круто.”</p>
            <cite>— клиент пишет в вацап</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Уже пять лет доволен.”</p>
            <cite>— клиент, покупая очередной букет</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Долго жил за границей. Переехал обратно в Москву. Встала проблема с флористами, потому что там уже нашел свою любимую цветочную лавку. Наткнулся на вас в Инстаграме. Уровень не ниже иностранцев. Решили мою цветочную проблему.”</p>
            <cite>— клиент в телеграме</cite>
          </blockquote>
          <blockquote class="review">
            <p>“Работаю тут, в ЦМТ. Не думал, что у нас такие крутые цветочники несколькими этажами ниже. Столько лет вас не замечал, а теперь только через вас буду проходить к себе в офис. Цветы поднимают настроение.”</p>
            <cite>— коллега в ЦМТ</cite>
          </blockquote>
    include footer/footer.pug
    script(src="main.js" defer)