-
  const bouquetsSeason = {
    "Весенняя краса": {
      "name": "Весенняя краса",
      "description": "так весна же, а это лучший вариант для такого времени",
      "order": 15,
      "jpeg": "/bouquets/i15.jpg",
      "webp": "/bouquets/i15.webp"
    },
    "Прекрасное утро": {
      "name": "Прекрасное утро",
      "description": "пробуждайте любимую таким букетом",
      "order": 44,
      "jpeg": "/bouquets/i44.jpg",
      "webp": "/bouquets/i44.webp"
    }
  }