-
  const bouquets = {
    "Весенняя свежесть": {
      "name": "Весенняя свежесть",
      "order": 1,
      "jpeg": "/bouquets/i1.jpg",
      "webp": "/bouquets/i1.webp"
    },
    "Краски природы": {
      "name": "Краски природы",
      "order": 2,
      "jpeg": "/bouquets/i2.jpg",
      "webp": "/bouquets/i2.webp"
    },
    "Светлые чувства": {
      "name": "Светлые чувства",
      "order": 3,
      "jpeg": "/bouquets/i3.jpg",
      "webp": "/bouquets/i3.webp"
    },
    "Летняя радость": {
      "name": "Летняя радость",
      "order": 4,
      "jpeg": "/bouquets/i4.jpg",
      "webp": "/bouquets/i4.webp"
    },
    "Ночное сверкание": {
      "name": "Ночное сверкание",
      "order": 5,
      "jpeg": "/bouquets/i5.jpg",
      "webp": "/bouquets/i5.webp"
    },
    "Нежность природы": {
      "name": "Нежность природы",
      "order": 6,
      "jpeg": "/bouquets/i6.jpg",
      "webp": "/bouquets/i6.webp"
    },
    "Блеск бриллиантов": {
      "name": "Блеск бриллиантов",
      "order": 7,
      "jpeg": "/bouquets/i7.jpg",
      "webp": "/bouquets/i7.webp"
    },
    "Красно-белый дуэт": {
      "name": "Красно-белый дуэт",
      "order": 8,
      "jpeg": "/bouquets/i8.jpg",
      "webp": "/bouquets/i8.webp"
    },
    "Свежая поляна": {
      "name": "Свежая поляна",
      "order": 9,
      "jpeg": "/bouquets/i9.jpg",
      "webp": "/bouquets/i9.webp"
    },
    "Алая любовь": {
      "name": "Алая любовь",
      "order": 10,
      "jpeg": "/bouquets/i10.jpg",
      "webp": "/bouquets/i10.webp"
    },
    "Утренняя радость": {
      "name": "Утренняя радость",
      "order": 12,
      "jpeg": "/bouquets/i12.jpg",
      "webp": "/bouquets/i12.webp"
    },
    "Летнее пробуждение": {
      "name": "Летнее пробуждение",
      "order": 11,
      "jpeg": "/bouquets/i11.jpg",
      "webp": "/bouquets/i11.webp"
    },
    "Цветочный карнавал": {
      "name": "Цветочный карнавал",
      "order": 13,
      "jpeg": "/bouquets/i13.jpg",
      "webp": "/bouquets/i13.webp"
    },
    "Яркое наслаждение": {
      "name": "Яркое наслаждение",
      "order": 14,
      "jpeg": "/bouquets/i14.jpg",
      "webp": "/bouquets/i14.webp"
    },
    "Весенняя краса": {
      "name": "Весенняя краса",
      "order": 15,
      "jpeg": "/bouquets/i15.jpg",
      "webp": "/bouquets/i15.webp"
    },
    "В ожидании лета": {
      "name": "В ожидании лета",
      "order": 16,
      "jpeg": "/bouquets/i16.jpg",
      "webp": "/bouquets/i16.webp"
    },
    "Первые лучи": {
      "name": "Первые лучи",
      "order": 17,
      "jpeg": "/bouquets/i17.jpg",
      "webp": "/bouquets/i17.webp"
    },
    "Подарок природы": {
      "name": "Подарок природы",
      "order": 18,
      "jpeg": "/bouquets/i18.jpg",
      "webp": "/bouquets/i18.webp"
    },
    "Насыщенные выходные": {
      "name": "Насыщенные выходные",
      "order": 19,
      "jpeg": "/bouquets/i19.jpg",
      "webp": "/bouquets/i19.webp"
    },
    "Лесная полянка": {
      "name": "Лесная полянка",
      "order": 20,
      "jpeg": "/bouquets/i20.jpg",
      "webp": "/bouquets/i20.webp"
    },
    "Женская нежность": {
      "name": "Женская нежность",
      "order": 21,
      "jpeg": "/bouquets/i21.jpg",
      "webp": "/bouquets/i21.webp"
    },
    "Красная луна": {
      "name": "Красная луна",
      "order": 22,
      "jpeg": "/bouquets/i22.jpg",
      "webp": "/bouquets/i22.webp"
    },
    "Нарядная поляна": {
      "name": "Нарядная поляна",
      "order": 23,
      "jpeg": "/bouquets/i23.jpg",
      "webp": "/bouquets/i23.webp"
    },
    "Собрание цветов": {
      "name": "Собрание цветов",
      "order": 24,
      "jpeg": "/bouquets/i24.jpg",
      "webp": "/bouquets/i24.webp"
    },
    "Солнечный зайчик": {
      "name": "Солнечный зайчик",
      "order": 25,
      "jpeg": "/bouquets/i25.jpg",
      "webp": "/bouquets/i25.webp"
    },
    "Фиолетовый закат": {
      "name": "Фиолетовый закат",
      "order": 26,
      "jpeg": "/bouquets/i26.jpg",
      "webp": "/bouquets/i26.webp"
    },
    "Лучи добра": {
      "name": "Лучи добра",
      "order": 27,
      "jpeg": "/bouquets/i27.jpg",
      "webp": "/bouquets/i27.webp"
    },
    "Осенняя эстетика": {
      "name": "Осенняя эстетика",
      "order": 28,
      "jpeg": "/bouquets/i28.jpg",
      "webp": "/bouquets/i28.webp"
    },
    "Сладкое послевкусие": {
      "name": "Сладкое послевкусие",
      "order": 29,
      "jpeg": "/bouquets/i29.jpg",
      "webp": "/bouquets/i29.webp"
    },
    "Тот самый день": {
      "name": "Тот самый день",
      "order": 30,
      "jpeg": "/bouquets/i30.jpg",
      "webp": "/bouquets/i30.webp"
    },
    "Райское местечко": {
      "name": "Райское местечко",
      "order": 31,
      "jpeg": "/bouquets/i31.jpg",
      "webp": "/bouquets/i31.webp"
    },
    "Летнее добро": {
      "name": "Летнее добро",
      "order": 32,
      "jpeg": "/bouquets/i32.jpg",
      "webp": "/bouquets/i32.webp"
    },
    "Пинки лав": {
      "name": "Пинки лав",
      "order": 33,
      "jpeg": "/bouquets/i33.jpg",
      "webp": "/bouquets/i33.webp"
    },
    "Кусочек тепла": {
      "name": "Кусочек тепла",
      "order": 34,
      "jpeg": "/bouquets/i34.jpg",
      "webp": "/bouquets/i34.webp"
    },
    "Искра счастья": {
      "name": "Искра счастья",
      "order": 35,
      "jpeg": "/bouquets/i35.jpg",
      "webp": "/bouquets/i35.webp"
    },
    "Рыжая осень": {
      "name": "Рыжая осень",
      "order": 36,
      "jpeg": "/bouquets/i36.jpg",
      "webp": "/bouquets/i36.webp"
    },
    "Рыжая осеньТепло души": {
      "name": "Тепло души",
      "order": 37,
      "jpeg": "/bouquets/i37.jpg",
      "webp": "/bouquets/i37.webp"
    },
    "Вдохновление": {
      "name": "Вдохновление",
      "order": 38,
      "jpeg": "/bouquets/i38.jpg",
      "webp": "/bouquets/i38.webp"
    },
    "Теплые оттенки": {
      "name": "Теплые оттенки",
      "order": 39,
      "jpeg": "/bouquets/i39.jpg",
      "webp": "/bouquets/i39.webp"
    },
    "Черный настрой": {
      "name": "Черный настрой",
      "order": 40,
      "jpeg": "/bouquets/i40.jpg",
      "webp": "/bouquets/i40.webp"
    },
    "Счастливое время": {
      "name": "Счастливое время",
      "order": 41,
      "jpeg": "/bouquets/i41.jpg",
      "webp": "/bouquets/i41.webp"
    },
    "Розы в домике": {
      "name": "Розы в домике",
      "order": 42,
      "jpeg": "/bouquets/i42.jpg",
      "webp": "/bouquets/i42.webp"
    },
    "Открытка счастья": {
      "name": "Открытка счастья",
      "order": 43,
      "jpeg": "/bouquets/i43.jpg",
      "webp": "/bouquets/i43.webp"
    },
    "Прекрасное утро": {
      "name": "Прекрасное утро",
      "order": 44,
      "jpeg": "/bouquets/i44.jpg",
      "webp": "/bouquets/i44.webp"
    },
    "Любимой": {
      "name": "Любимой",
      "order": 45,
      "jpeg": "/bouquets/i45.jpg",
      "webp": "/bouquets/i45.webp"
    },
    "Частичка любви": {
      "name": "Частичка любви",
      "order": 46,
      "jpeg": "/bouquets/i46.jpg",
      "webp": "/bouquets/i46.webp"
    },
    "Счастья подайте": {
      "name": "Счастья подайте",
      "order": 47,
      "jpeg": "/bouquets/i47.jpg",
      "webp": "/bouquets/i47.webp"
    },
    "Забава": {
      "name": "Забава",
      "order": 48,
      "jpeg": "/bouquets/i48.jpg",
      "webp": "/bouquets/i48.webp"
    },
    "Возвращение солнца": {
      "name": "Возвращение солнца",
      "order": 48,
      "jpeg": "/bouquets/i49.jpg",
      "webp": "/bouquets/i49.webp"
    }
  }