-
  const season = {
    "Новогодняя коллекция": [
      {
        "name": "Santa",
        "source": "i54"
      },
      {
        "name": "Blue Light",
        "source": "i55"
      },
      {
        "name": "Piggy",
        "source": "i56"
      },
      {
        "name": "Candle",
        "source": "i57"
      }
    ]
  }

-
  const bouquets = {
    "Warm Collection": [
      {
        "name": "Yellow R",
        "source": "i51"
      },
      {
        "name": "Chrysanthemum",
        "source": "i50"
      },
      {
        "name": "Rabbit",
        "source": "i25"
      },
      {
        "name": "Warmy",
        "source": "i32"
      },
      {
        "name": "Sunflower",
        "source": "i39"
      },
      {
        "name": "Открытка счастья",
        "source": "i43"
      },
    ],
    "Pinky": [
      {
        "name": "Весенняя свежесть",
        "source": "i1"
      },
      {
        "name": "Летняя радость",
        "source": "i4"
      },
      {
        "name": "Пинки Эталон",
        "source": "i33"
      },
      {
        "name": "В ожидании лета",
        "source": "i16"
      },
      {
        "name": "Первые лучи",
        "source": "i17"
      },
      {
        "name": "Нарядная поляна",
        "source": "i23"
      },

    ],
    "Flame": [
      {
        "name": "Exo",
        "source": "i52"
      },
      {
        "name": "Fire",
        "source": "i19"
      },
      {
        "name": "Краски природы",
        "source": "i2"
      },
      {
        "name": "Красно-белый дуэт",
        "source": "i8"
      },
      {
        "name": "Цветочный карнавал",
        "source": "i13"
      },
      {
        "name": "Тот самый день",
        "source": "i30"
      },
      {
        "name": "Любимой",
        "source": "i45"
      },
      {
        "name": "Частичка любви",
        "source": "i46"
      }
    ],
    "Night Light": [
      {
        "name": "Лесная полянка",
        "source": "i20"
      },
      {
        "name": "Фиолетовый закат",
        "source": "i26"
      },
      {
        "name": "Сладкое послевкусие",
        "source": "i29"
      },
      {
        "name": "Утренняя радость",
        "source": "i12"
      },
      {
        "name": "Кусочек тепла",
        "source": "i34"
      },
      {
        "name": "Blvck Demon",
        "source": "i40"
      },
    ],
    "Однотонные": [
      {
        "name": "Пинки Эталон",
        "source": "i33"
      },
      {
        "name": "Алая любовь",
        "source": "i10"
      }
    ],
    "Смешанные": [
      {
        "name": "Snow White",
        "source": "i53"
      },
      {
        "name": "Летнее пробуждение",
        "source": "i11"
      },
      {
        "name": "Яркое наслаждение",
        "source": "i14"
      },
      {
        "name": "Весенняя краса",
        "source": "i15"
      },
      {
        "name": "Райское местечко",
        "source": "i31"
      },
      {
        "name": "Тепло души",
        "source": "i37"
      },
      {
        "name": "Вдохновение",
        "source": "i38"
      },
      {
        "name": "Прекрасное утро",
        "source": "i44"
      },
      {
        "name": "Счастья подайте",
        "source": "i47"
      },
      {
        "name": "Забава",
        "source": "i48"
      },
      {
        "name": "Возвращение солнца",
        "source": "i49"
      }
    ],
  }