footer#adress
  p
    b Наши цветы в интернете: 
    a(href="https://www.instagram.com/masterbuket_flora/") Инстаграм
    |, 
    a(href="https://twitter.com/masterbuketwtc") Твиттер
    |,
    a(href="https://vm.tiktok.com/ZStjebGw/") ТикТок
  p
    | Разработка сайта — 
    a(href="https://dtroode.vercel.app/") Давид Кистаури