footer#adress
  p
    b Наши цветы в интернете: 
    a(href="https://www.instagram.com/masterbuket_flora/") Инстаграм
    |, 
    a(href="https://twitter.com/masterbuketwtc") Твиттер
    |, 
    a(href="https://vk.com/floraworkshop") ВКонтакте
    |, 
    a(href="https://www.facebook.com/masterbuketwtc") Фейсбук
    |, 
    a(href="https://t.me/s/masterbuket") Телеграм
  p
    | Разработка сайта — 
    a(href="https://dtroode.vercel.app/") Давид Кистаури