footer#adress
  p
    a(href="https://yandex.ru/maps/-/CKuJ4Yyd") Краснопресненская наб., 12, подъезды: 6, 7, 9, Москва
    br
    a(href="tel:79262449190") +7 926 244-91-90
    |, 
    a(href="tel:79859545784") +7 985 954-57-84
    br
    a(href="mailto:masterbuketask@gmail.com") masterbuketask@gmail.com
    br
    | пн…пт 9…20:00
    br
    | А еще ждем вашего звонка каждый день
  a(href="https://yandex.ru/maps/-/CKuJ4Yyd")
    picture
      source(srcset="/base/medium/map.webp 1200w, /base/small/map.webp 800w, /base/x-small/map.webp 400w", type="image/webp")
      img(src="/base/map.jpg", srcset="/base/medium/map.jpg 1200w, /base/small/map.jpg 800w, /base/x-small/map.jpg 400w", alt="Мастер Букет на карте", loading="lazy")
  p
    | Разработка сайта — 
    a(href="https://davidkistauri.ru/") Давид Кистаури